/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #0078d4;
}

header{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.navbar{
    display:flex;
    align-items:center;
    padding:20px;
    
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}
.image{
    padding: 19px 15px 15px 36px;
    display:flex;
    align-items:center;
    justify-content:center;

}

ul{
    display:flex;
    gap: 12px;
}

li{
    list-style:none;
    font-size: 16px;
    padding: 0 12px;
    color: #333333;
    font-weight: 500;
}

.button{
    display:flex;
    padding: 20px;
}

button{
    background: #0078d4;
    padding: 8px 16px;
    color: #ffffff;
    border-radius: 6px;
    border: none;
}

/*============Designing the Hero Section===========*/


.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px 0;
}

.hero-text h1{
    font-size:74px;
    color: #1e1e1e;
    margin: 9.5px 0px 23.7px;
    font-family:sans-serif;
}

.download-content-wrapper{
    z-index: 10;
    padding: 16px;
    border-radius: 10px;
    width: fit-content;
    max-width: 90%;
    position: relative;

}

.hero-text button{
    padding: 15px 30px;
    background: #1e1e1e;
    font-size:17.1px;
    color: white;
    border:none;
    border-radius: 5px;
    margin-top: 20px;
    transition:  background  0.3s;
}

.hero-text button:hover{
    background:
}

.container{
    display: grid;
    grid-template-columns:  1fr 2fr;
    align-items:center;

}

.language_panel .items img{
    height: 40px;
    width: auto;
}

.intro{
    display:flex;
    flex-direction:column;
    padding: 0px 0px 40px;
    margin-left: 30px;
}

.intro h2{
    margin: 0px 0px 10px;
    font-size: 30px;
    font-weight: 600;
}

.intro p{
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color: #475569;
}

.language_panel{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.items{
    display:flex;
    align-items:center;
    gap: 8px;
}

code{
    padding:2px 4px;
    font-size:16px;
}

/*responsiveness*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .container{
        grid-template-columns: 1fr;
        width:100%;
    }
     .intro{
        width: 100%;
        margin:auto;
        padding: 0 15px;
     }

    
     .language_panel{
        grid-template-columns: 1fr 1fr;
        justify-items:center;
        padding: 0px 0px;

     }

    .items{
        display:flex;
        align-items:center;
        justify-content:flex-start;
    }

     
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}